main {
  width: 100%;
  height: 100%;
}

/* adding/removing content from display */
.music-box__content {
  display: none;
}

.music-box__content--active {
  display: block;
}

/* styling for nav buttons */
.music-box__button-container {
  width: 50%;
  display: flex;
  padding: var(--spacing-medium);
  gap: var(--spacing-xsmall);
}

.music-box-button {
  flex-grow: 1;
  padding: var(--spacing-xsmall);
  font-size: var(--font-size-small);
  border: 1px solid var(--quaternary-color);
  color: var(--quaternary-color);
  border-radius: 5px;
  background-color: transparent;
}

.music-box-button--active {
  background-color: var(--quaternary-color);
  color: var(--primary-color);
}

.music-box-button:hover,
.music-box-button--active:hover {
  background-color: var(--hover-color);
  color: var(--quaternary-color);
}

/* ----------------------------- styles for slides ---------------------------------- */

.albums {
  padding: var(--spacing-medium) var(--spacing-large);
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* displaying albums in row */
.music-box__slides-container {
  display: flex;
}

.music-box__slides {
  display: none;
  transform: rotateY(0deg);
}

.music-box__slides--active {
  display: flex;
  flex-direction: row;
  padding: var(--spacing-medium);
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.6s linear;

  width: 400px;
  height: 600px;
}

.music-box__slides--flipped {
  transform: rotateY(180deg);
}

/* For displaying one album at the time */
.music-box__slides-cover {
  position: absolute;
  width: 100%;
  height: 500px;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--quaternary-color);
}

.music-box__slides-image {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.music-box__slides-cover.back {
  transform: rotateY(180deg);
}

.music-box__slides-back {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xsmall);
  text-transform: uppercase;
  padding: var(--spacing-large);
  transform: scale(-1, 1);
}

/* styling for dots */
.music-box__dot-container {
  padding: var(--spacing-medium);
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--spacing-small);
}

.music-box__dot {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: lightgray;
  border-radius: 50%;
}

.music-box__dot--active {
  background-color: darkgray;
}

/* --------------------------------------------------------------------------------- */

.singles {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: var(--spacing-small);
  padding: var(--spacing-medium);
  text-transform: uppercase;
}

/* toggle class for section content */
/* .option {
  display: none;
}

.option--active {
  display: block;
} */

/* displaying slidhow in center of page */
/* .slideshow {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* displaying albums in a row */
/* .slideshow__albums {
  display: flex;
} */

/* hiding all the albums execept the album that is active */
/* .slideshow__link-to-album {
  text-decoration: none;
  color: black;
  display: none;
}

.slideshow__link-to-album--active {
  display: block;
} */

/* styling for album images, adding positon for buttons to realte to */
/* .slideshow__image-contaner {
  position: relative;
}

.slideshow__image {
  width: 400px;
  height: 400px;
} */

/* styling text realted to album */
/* .slideshow__title,
.slideshow__year {
  text-align: center;
  text-transform: uppercase;
  padding: var(--spacing-xsmall) 0;
} */

/* styling for buttons  */
/* .slideshow__arrow-button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0.3px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.slideshow__arrow-icon {
  color: black;
}

.previous {
  position: absolute;
  top: 62%;
  left: 17%;
  z-index: 1;
}

.next {
  position: absolute;
  top: 62%;
  right: 17%;
  z-index: 1;
} */

/* ----------------------------------------------------------- */
/* styling/layout for single section  */
/* .singles {
  width: 100%;
  height: 100%;

} */

/* styling single card component */
/* .singles__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xsmall);
  border: 1px solid black;
  background-color: var(--quaternary-color);
  color: var(--primary-color);
}

.singles__card-img {
  width: 100%;
  object-fit: cover;
  object-position: top center;
}

.singles__card-title,
.singles__card-releaseyear {
  padding: var(--spacing-xsmall);
  text-align: center;
} */

/* -------------------------------------------------------------- */
