/* displaying news(card-component) with grid */
.news {
  padding: var(--spacing-medium);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fil, minmax(250px, 1fr));
  grid-gap: var(--spacing-medium);
}

/* removes section when "see more" button is clicked */
.news--active {
  display: none;
}

/* styling news-card */
.news__card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  transform: scale(1);
  transition: transform 0.3s ease-in;
}

.news__card:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease-in;
  box-shadow: var(--quaternary-color) 0px 20px 30px -10px;
}

/* styling for items inside news-card*/
.news__card-date {
  align-self: center;
  padding: var(--spacing-xsmall);
}

.news__card-img {
  height: 60%;
  object-position: center;
  object-fit: cover;
}

.news__card-title {
  padding: var(--spacing-medium) var(--spacing-small);
}

.news__card-link {
  align-self: flex-end;
  margin-top: auto;
  padding: var(--spacing-medium);
}

.news__card-link-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: var(--spacing-xsmall);
  color: var(--quaternary-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  transition: background-color 0.3s ease-in-out;
  text-transform: uppercase;
}

.news__card-link-button:hover {
  background-color: var(--hover-color);
  transition: background-color 0.3s ease-in-out;
}

.news__card-link-icon {
  padding: var(--spacing-xsmall);
}

.news__card-link-button:active {
  transform: scale(1.3);
}

/* srylinf for showing individual news section */
.news-content {
  /* display: none; */
}
